.orange-section{
    background:#FE572A;
    padding:100px 0px;
}
.oragene-greadient-text h2{
font-weight: 300;
font-size: 4.375rem;
line-height: 90px;
letter-spacing: -3%;
text-align: center;
-webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, #FFFFFF 39.44%, rgba(255, 255, 255, 0.6) 77.78%);


}
.oragene-greadient-text h3{
font-weight: 500;
font-size: 4.375rem;
line-height: 90px;
letter-spacing: -3%;
text-align: center;
-webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent;
background: linear-gradient(180deg, #FFFFFF 39.44%, rgba(255, 255, 255, 0.6) 77.78%);


}