.orange-section{
    background:#FE572A;
    padding:100px 0px;
}
.oragene-greadient-text h2{
font-weight: 500;
font-size: 4.375rem;
line-height: 90px;
letter-spacing: -3%;
text-align: center;
-webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, #FFFFFF 39.44%, rgba(255, 255, 255, 0.6) 77.78%);


}
.oragene-greadient-text p{
font-weight: 500;
font-size: 1rem;
color:#fff;
margin-top:20px;

}
@media(max-width:768.98px){
  .oragene-greadient-text h2{
  font-size: 2.5rem ;
  line-height:50px;
  }
}

@media(max-width:575.98px){
  .oragene-greadient-text h2{
  font-size: 2rem ;
  line-height:40px;
  }
}