@media (max-width: 991.98px) {
  .section {
    padding: var(--section-padding-mobile);
  }
  
  h1 {
    font-size: 2.2rem;
  }
  
  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  .btn-fitze,
  .btn-fitze-dark,
  .btn-fitze-outline {
    width: 100%;
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
